@font-face {
  font-family: 'i-regular';
  font-weight: normal;
  font-style: normal;
  src: url('../fonts/Interstate-RegularYR.eot');
  src: url('../fonts/Interstate-RegularYR.eot?#iefix') format('embedded-opentype'), url('../fonts/Interstate-RegularYR.woff') format('woff'), url('../fonts/Interstate-Regular_0.otf') format('truetype'), url('../fonts/Interstate-RegularYR.svg#i-regular') format('svg');
}
@font-face {
  font-family: 'i-regular-l';
  font-weight: normal;
  font-style: normal;
  src: url('../fonts/InterstateLightVNU.eot');
  src: url('../fonts/InterstateLightVNU.eot?#iefix') format('embedded-opentype'), url('../fonts/InterstateLightVNU.woff') format('woff'), url('../fonts/InterstateLight VNU_0.otf') format('truetype'), url('../fonts/InterstateLightVNU.svg#i-regular-l') format('svg');
}
/*!
 *  Font Awesome 4.1.0 by @davegandy - http://fontawesome.io - @fontawesome
 *  License - http://fontawesome.io/license (Font: SIL OFL 1.1, CSS: MIT License)
 */
/* FONT PATH
 * -------------------------- */
@font-face {
  font-family: 'FontAwesome';
  src: url('../fonts/fontawesome-webfont.eot?v=4.1.0');
  src: url('../fonts/fontawesome-webfont.eot?#iefix&v=4.1.0') format('embedded-opentype'), url('../fonts/fontawesome-webfont.woff?v=4.1.0') format('woff'), url('../fonts/fontawesome-webfont.ttf?v=4.1.0') format('truetype'), url('../fonts/fontawesome-webfont.svg?v=4.1.0#fontawesomeregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
.fa {
  display: inline-block;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
/* makes the font 33% larger relative to the icon container */
.fa-lg {
  font-size: 1.33333333em;
  line-height: 0.75em;
  vertical-align: -15%;
}
.fa-2x {
  font-size: 2em;
}
.fa-3x {
  font-size: 3em;
}
.fa-4x {
  font-size: 4em;
}
.fa-5x {
  font-size: 5em;
}
.fa-fw {
  width: 1.28571429em;
  text-align: center;
}
.fa-ul {
  padding-left: 0;
  margin-left: 2.14285714em;
  list-style-type: none;
}
.fa-ul > li {
  position: relative;
}
.fa-li {
  position: absolute;
  left: -2.14285714em;
  width: 2.14285714em;
  top: 0.14285714em;
  text-align: center;
}
.fa-li.fa-lg {
  left: -1.85714286em;
}
.fa-border {
  padding: .2em .25em .15em;
  border: solid 0.08em #eeeeee;
  border-radius: .1em;
}
.pull-right {
  float: right;
}
.pull-left {
  float: left;
}
.fa.pull-left {
  margin-right: .3em;
}
.fa.pull-right {
  margin-left: .3em;
}
.fa-spin {
  -webkit-animation: spin 2s infinite linear;
  -moz-animation: spin 2s infinite linear;
  -o-animation: spin 2s infinite linear;
  animation: spin 2s infinite linear;
}
@-moz-keyframes spin {
  0% {
    -moz-transform: rotate(0deg);
  }
  100% {
    -moz-transform: rotate(359deg);
  }
}
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
  }
}
@-o-keyframes spin {
  0% {
    -o-transform: rotate(0deg);
  }
  100% {
    -o-transform: rotate(359deg);
  }
}
@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
.fa-rotate-90 {
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=1);
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
}
.fa-rotate-180 {
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=2);
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}
.fa-rotate-270 {
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
  -webkit-transform: rotate(270deg);
  -moz-transform: rotate(270deg);
  -ms-transform: rotate(270deg);
  -o-transform: rotate(270deg);
  transform: rotate(270deg);
}
.fa-flip-horizontal {
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=0, mirror=1);
  -webkit-transform: scale(-1, 1);
  -moz-transform: scale(-1, 1);
  -ms-transform: scale(-1, 1);
  -o-transform: scale(-1, 1);
  transform: scale(-1, 1);
}
.fa-flip-vertical {
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=2, mirror=1);
  -webkit-transform: scale(1, -1);
  -moz-transform: scale(1, -1);
  -ms-transform: scale(1, -1);
  -o-transform: scale(1, -1);
  transform: scale(1, -1);
}
.fa-stack {
  position: relative;
  display: inline-block;
  width: 2em;
  height: 2em;
  line-height: 2em;
  vertical-align: middle;
}
.fa-stack-1x,
.fa-stack-2x {
  position: absolute;
  left: 0;
  width: 100%;
  text-align: center;
}
.fa-stack-1x {
  line-height: inherit;
}
.fa-stack-2x {
  font-size: 2em;
}
.fa-inverse {
  color: #ffffff;
}
/* Font Awesome uses the Unicode Private Use Area (PUA) to ensure screen
   readers do not read off random characters that represent icons */
.fa-glass:before {
  content: "\f000";
}
.fa-music:before {
  content: "\f001";
}
.fa-search:before {
  content: "\f002";
}
.fa-envelope-o:before {
  content: "\f003";
}
.fa-heart:before {
  content: "\f004";
}
.fa-star:before {
  content: "\f005";
}
.fa-star-o:before {
  content: "\f006";
}
.fa-user:before {
  content: "\f007";
}
.fa-film:before {
  content: "\f008";
}
.fa-th-large:before {
  content: "\f009";
}
.fa-th:before {
  content: "\f00a";
}
.fa-th-list:before {
  content: "\f00b";
}
.fa-check:before {
  content: "\f00c";
}
.fa-times:before {
  content: "\f00d";
}
.fa-search-plus:before {
  content: "\f00e";
}
.fa-search-minus:before {
  content: "\f010";
}
.fa-power-off:before {
  content: "\f011";
}
.fa-signal:before {
  content: "\f012";
}
.fa-gear:before,
.fa-cog:before {
  content: "\f013";
}
.fa-trash-o:before {
  content: "\f014";
}
.fa-home:before {
  content: "\f015";
}
.fa-file-o:before {
  content: "\f016";
}
.fa-clock-o:before {
  content: "\f017";
}
.fa-road:before {
  content: "\f018";
}
.fa-download:before {
  content: "\f019";
}
.fa-arrow-circle-o-down:before {
  content: "\f01a";
}
.fa-arrow-circle-o-up:before {
  content: "\f01b";
}
.fa-inbox:before {
  content: "\f01c";
}
.fa-play-circle-o:before {
  content: "\f01d";
}
.fa-rotate-right:before,
.fa-repeat:before {
  content: "\f01e";
}
.fa-refresh:before {
  content: "\f021";
}
.fa-list-alt:before {
  content: "\f022";
}
.fa-lock:before {
  content: "\f023";
}
.fa-flag:before {
  content: "\f024";
}
.fa-headphones:before {
  content: "\f025";
}
.fa-volume-off:before {
  content: "\f026";
}
.fa-volume-down:before {
  content: "\f027";
}
.fa-volume-up:before {
  content: "\f028";
}
.fa-qrcode:before {
  content: "\f029";
}
.fa-barcode:before {
  content: "\f02a";
}
.fa-tag:before {
  content: "\f02b";
}
.fa-tags:before {
  content: "\f02c";
}
.fa-book:before {
  content: "\f02d";
}
.fa-bookmark:before {
  content: "\f02e";
}
.fa-print:before {
  content: "\f02f";
}
.fa-camera:before {
  content: "\f030";
}
.fa-font:before {
  content: "\f031";
}
.fa-bold:before {
  content: "\f032";
}
.fa-italic:before {
  content: "\f033";
}
.fa-text-height:before {
  content: "\f034";
}
.fa-text-width:before {
  content: "\f035";
}
.fa-align-left:before {
  content: "\f036";
}
.fa-align-center:before {
  content: "\f037";
}
.fa-align-right:before {
  content: "\f038";
}
.fa-align-justify:before {
  content: "\f039";
}
.fa-list:before {
  content: "\f03a";
}
.fa-dedent:before,
.fa-outdent:before {
  content: "\f03b";
}
.fa-indent:before {
  content: "\f03c";
}
.fa-video-camera:before {
  content: "\f03d";
}
.fa-photo:before,
.fa-image:before,
.fa-picture-o:before {
  content: "\f03e";
}
.fa-pencil:before {
  content: "\f040";
}
.fa-map-marker:before {
  content: "\f041";
}
.fa-adjust:before {
  content: "\f042";
}
.fa-tint:before {
  content: "\f043";
}
.fa-edit:before,
.fa-pencil-square-o:before {
  content: "\f044";
}
.fa-share-square-o:before {
  content: "\f045";
}
.fa-check-square-o:before {
  content: "\f046";
}
.fa-arrows:before {
  content: "\f047";
}
.fa-step-backward:before {
  content: "\f048";
}
.fa-fast-backward:before {
  content: "\f049";
}
.fa-backward:before {
  content: "\f04a";
}
.fa-play:before {
  content: "\f04b";
}
.fa-pause:before {
  content: "\f04c";
}
.fa-stop:before {
  content: "\f04d";
}
.fa-forward:before {
  content: "\f04e";
}
.fa-fast-forward:before {
  content: "\f050";
}
.fa-step-forward:before {
  content: "\f051";
}
.fa-eject:before {
  content: "\f052";
}
.fa-chevron-left:before {
  content: "\f053";
}
.fa-chevron-right:before {
  content: "\f054";
}
.fa-plus-circle:before {
  content: "\f055";
}
.fa-minus-circle:before {
  content: "\f056";
}
.fa-times-circle:before {
  content: "\f057";
}
.fa-check-circle:before {
  content: "\f058";
}
.fa-question-circle:before {
  content: "\f059";
}
.fa-info-circle:before {
  content: "\f05a";
}
.fa-crosshairs:before {
  content: "\f05b";
}
.fa-times-circle-o:before {
  content: "\f05c";
}
.fa-check-circle-o:before {
  content: "\f05d";
}
.fa-ban:before {
  content: "\f05e";
}
.fa-arrow-left:before {
  content: "\f060";
}
.fa-arrow-right:before {
  content: "\f061";
}
.fa-arrow-up:before {
  content: "\f062";
}
.fa-arrow-down:before {
  content: "\f063";
}
.fa-mail-forward:before,
.fa-share:before {
  content: "\f064";
}
.fa-expand:before {
  content: "\f065";
}
.fa-compress:before {
  content: "\f066";
}
.fa-plus:before {
  content: "\f067";
}
.fa-minus:before {
  content: "\f068";
}
.fa-asterisk:before {
  content: "\f069";
}
.fa-exclamation-circle:before {
  content: "\f06a";
}
.fa-gift:before {
  content: "\f06b";
}
.fa-leaf:before {
  content: "\f06c";
}
.fa-fire:before {
  content: "\f06d";
}
.fa-eye:before {
  content: "\f06e";
}
.fa-eye-slash:before {
  content: "\f070";
}
.fa-warning:before,
.fa-exclamation-triangle:before {
  content: "\f071";
}
.fa-plane:before {
  content: "\f072";
}
.fa-calendar:before {
  content: "\f073";
}
.fa-random:before {
  content: "\f074";
}
.fa-comment:before {
  content: "\f075";
}
.fa-magnet:before {
  content: "\f076";
}
.fa-chevron-up:before {
  content: "\f077";
}
.fa-chevron-down:before {
  content: "\f078";
}
.fa-retweet:before {
  content: "\f079";
}
.fa-shopping-cart:before {
  content: "\f07a";
}
.fa-folder:before {
  content: "\f07b";
}
.fa-folder-open:before {
  content: "\f07c";
}
.fa-arrows-v:before {
  content: "\f07d";
}
.fa-arrows-h:before {
  content: "\f07e";
}
.fa-bar-chart-o:before {
  content: "\f080";
}
.fa-twitter-square:before {
  content: "\f081";
}
.fa-facebook-square:before {
  content: "\f082";
}
.fa-camera-retro:before {
  content: "\f083";
}
.fa-key:before {
  content: "\f084";
}
.fa-gears:before,
.fa-cogs:before {
  content: "\f085";
}
.fa-comments:before {
  content: "\f086";
}
.fa-thumbs-o-up:before {
  content: "\f087";
}
.fa-thumbs-o-down:before {
  content: "\f088";
}
.fa-star-half:before {
  content: "\f089";
}
.fa-heart-o:before {
  content: "\f08a";
}
.fa-sign-out:before {
  content: "\f08b";
}
.fa-linkedin-square:before {
  content: "\f08c";
}
.fa-thumb-tack:before {
  content: "\f08d";
}
.fa-external-link:before {
  content: "\f08e";
}
.fa-sign-in:before {
  content: "\f090";
}
.fa-trophy:before {
  content: "\f091";
}
.fa-github-square:before {
  content: "\f092";
}
.fa-upload:before {
  content: "\f093";
}
.fa-lemon-o:before {
  content: "\f094";
}
.fa-phone:before {
  content: "\f095";
}
.fa-square-o:before {
  content: "\f096";
}
.fa-bookmark-o:before {
  content: "\f097";
}
.fa-phone-square:before {
  content: "\f098";
}
.fa-twitter:before {
  content: "\f099";
}
.fa-facebook:before {
  content: "\f09a";
}
.fa-github:before {
  content: "\f09b";
}
.fa-unlock:before {
  content: "\f09c";
}
.fa-credit-card:before {
  content: "\f09d";
}
.fa-rss:before {
  content: "\f09e";
}
.fa-hdd-o:before {
  content: "\f0a0";
}
.fa-bullhorn:before {
  content: "\f0a1";
}
.fa-bell:before {
  content: "\f0f3";
}
.fa-certificate:before {
  content: "\f0a3";
}
.fa-hand-o-right:before {
  content: "\f0a4";
}
.fa-hand-o-left:before {
  content: "\f0a5";
}
.fa-hand-o-up:before {
  content: "\f0a6";
}
.fa-hand-o-down:before {
  content: "\f0a7";
}
.fa-arrow-circle-left:before {
  content: "\f0a8";
}
.fa-arrow-circle-right:before {
  content: "\f0a9";
}
.fa-arrow-circle-up:before {
  content: "\f0aa";
}
.fa-arrow-circle-down:before {
  content: "\f0ab";
}
.fa-globe:before {
  content: "\f0ac";
}
.fa-wrench:before {
  content: "\f0ad";
}
.fa-tasks:before {
  content: "\f0ae";
}
.fa-filter:before {
  content: "\f0b0";
}
.fa-briefcase:before {
  content: "\f0b1";
}
.fa-arrows-alt:before {
  content: "\f0b2";
}
.fa-group:before,
.fa-users:before {
  content: "\f0c0";
}
.fa-chain:before,
.fa-link:before {
  content: "\f0c1";
}
.fa-cloud:before {
  content: "\f0c2";
}
.fa-flask:before {
  content: "\f0c3";
}
.fa-cut:before,
.fa-scissors:before {
  content: "\f0c4";
}
.fa-copy:before,
.fa-files-o:before {
  content: "\f0c5";
}
.fa-paperclip:before {
  content: "\f0c6";
}
.fa-save:before,
.fa-floppy-o:before {
  content: "\f0c7";
}
.fa-square:before {
  content: "\f0c8";
}
.fa-navicon:before,
.fa-reorder:before,
.fa-bars:before {
  content: "\f0c9";
}
.fa-list-ul:before {
  content: "\f0ca";
}
.fa-list-ol:before {
  content: "\f0cb";
}
.fa-strikethrough:before {
  content: "\f0cc";
}
.fa-underline:before {
  content: "\f0cd";
}
.fa-table:before {
  content: "\f0ce";
}
.fa-magic:before {
  content: "\f0d0";
}
.fa-truck:before {
  content: "\f0d1";
}
.fa-pinterest:before {
  content: "\f0d2";
}
.fa-pinterest-square:before {
  content: "\f0d3";
}
.fa-google-plus-square:before {
  content: "\f0d4";
}
.fa-google-plus:before {
  content: "\f0d5";
}
.fa-money:before {
  content: "\f0d6";
}
.fa-caret-down:before {
  content: "\f0d7";
}
.fa-caret-up:before {
  content: "\f0d8";
}
.fa-caret-left:before {
  content: "\f0d9";
}
.fa-caret-right:before {
  content: "\f0da";
}
.fa-columns:before {
  content: "\f0db";
}
.fa-unsorted:before,
.fa-sort:before {
  content: "\f0dc";
}
.fa-sort-down:before,
.fa-sort-desc:before {
  content: "\f0dd";
}
.fa-sort-up:before,
.fa-sort-asc:before {
  content: "\f0de";
}
.fa-envelope:before {
  content: "\f0e0";
}
.fa-linkedin:before {
  content: "\f0e1";
}
.fa-rotate-left:before,
.fa-undo:before {
  content: "\f0e2";
}
.fa-legal:before,
.fa-gavel:before {
  content: "\f0e3";
}
.fa-dashboard:before,
.fa-tachometer:before {
  content: "\f0e4";
}
.fa-comment-o:before {
  content: "\f0e5";
}
.fa-comments-o:before {
  content: "\f0e6";
}
.fa-flash:before,
.fa-bolt:before {
  content: "\f0e7";
}
.fa-sitemap:before {
  content: "\f0e8";
}
.fa-umbrella:before {
  content: "\f0e9";
}
.fa-paste:before,
.fa-clipboard:before {
  content: "\f0ea";
}
.fa-lightbulb-o:before {
  content: "\f0eb";
}
.fa-exchange:before {
  content: "\f0ec";
}
.fa-cloud-download:before {
  content: "\f0ed";
}
.fa-cloud-upload:before {
  content: "\f0ee";
}
.fa-user-md:before {
  content: "\f0f0";
}
.fa-stethoscope:before {
  content: "\f0f1";
}
.fa-suitcase:before {
  content: "\f0f2";
}
.fa-bell-o:before {
  content: "\f0a2";
}
.fa-coffee:before {
  content: "\f0f4";
}
.fa-cutlery:before {
  content: "\f0f5";
}
.fa-file-text-o:before {
  content: "\f0f6";
}
.fa-building-o:before {
  content: "\f0f7";
}
.fa-hospital-o:before {
  content: "\f0f8";
}
.fa-ambulance:before {
  content: "\f0f9";
}
.fa-medkit:before {
  content: "\f0fa";
}
.fa-fighter-jet:before {
  content: "\f0fb";
}
.fa-beer:before {
  content: "\f0fc";
}
.fa-h-square:before {
  content: "\f0fd";
}
.fa-plus-square:before {
  content: "\f0fe";
}
.fa-angle-double-left:before {
  content: "\f100";
}
.fa-angle-double-right:before {
  content: "\f101";
}
.fa-angle-double-up:before {
  content: "\f102";
}
.fa-angle-double-down:before {
  content: "\f103";
}
.fa-angle-left:before {
  content: "\f104";
}
.fa-angle-right:before {
  content: "\f105";
}
.fa-angle-up:before {
  content: "\f106";
}
.fa-angle-down:before {
  content: "\f107";
}
.fa-desktop:before {
  content: "\f108";
}
.fa-laptop:before {
  content: "\f109";
}
.fa-tablet:before {
  content: "\f10a";
}
.fa-mobile-phone:before,
.fa-mobile:before {
  content: "\f10b";
}
.fa-circle-o:before {
  content: "\f10c";
}
.fa-quote-left:before {
  content: "\f10d";
}
.fa-quote-right:before {
  content: "\f10e";
}
.fa-spinner:before {
  content: "\f110";
}
.fa-circle:before {
  content: "\f111";
}
.fa-mail-reply:before,
.fa-reply:before {
  content: "\f112";
}
.fa-github-alt:before {
  content: "\f113";
}
.fa-folder-o:before {
  content: "\f114";
}
.fa-folder-open-o:before {
  content: "\f115";
}
.fa-smile-o:before {
  content: "\f118";
}
.fa-frown-o:before {
  content: "\f119";
}
.fa-meh-o:before {
  content: "\f11a";
}
.fa-gamepad:before {
  content: "\f11b";
}
.fa-keyboard-o:before {
  content: "\f11c";
}
.fa-flag-o:before {
  content: "\f11d";
}
.fa-flag-checkered:before {
  content: "\f11e";
}
.fa-terminal:before {
  content: "\f120";
}
.fa-code:before {
  content: "\f121";
}
.fa-mail-reply-all:before,
.fa-reply-all:before {
  content: "\f122";
}
.fa-star-half-empty:before,
.fa-star-half-full:before,
.fa-star-half-o:before {
  content: "\f123";
}
.fa-location-arrow:before {
  content: "\f124";
}
.fa-crop:before {
  content: "\f125";
}
.fa-code-fork:before {
  content: "\f126";
}
.fa-unlink:before,
.fa-chain-broken:before {
  content: "\f127";
}
.fa-question:before {
  content: "\f128";
}
.fa-info:before {
  content: "\f129";
}
.fa-exclamation:before {
  content: "\f12a";
}
.fa-superscript:before {
  content: "\f12b";
}
.fa-subscript:before {
  content: "\f12c";
}
.fa-eraser:before {
  content: "\f12d";
}
.fa-puzzle-piece:before {
  content: "\f12e";
}
.fa-microphone:before {
  content: "\f130";
}
.fa-microphone-slash:before {
  content: "\f131";
}
.fa-shield:before {
  content: "\f132";
}
.fa-calendar-o:before {
  content: "\f133";
}
.fa-fire-extinguisher:before {
  content: "\f134";
}
.fa-rocket:before {
  content: "\f135";
}
.fa-maxcdn:before {
  content: "\f136";
}
.fa-chevron-circle-left:before {
  content: "\f137";
}
.fa-chevron-circle-right:before {
  content: "\f138";
}
.fa-chevron-circle-up:before {
  content: "\f139";
}
.fa-chevron-circle-down:before {
  content: "\f13a";
}
.fa-html5:before {
  content: "\f13b";
}
.fa-css3:before {
  content: "\f13c";
}
.fa-anchor:before {
  content: "\f13d";
}
.fa-unlock-alt:before {
  content: "\f13e";
}
.fa-bullseye:before {
  content: "\f140";
}
.fa-ellipsis-h:before {
  content: "\f141";
}
.fa-ellipsis-v:before {
  content: "\f142";
}
.fa-rss-square:before {
  content: "\f143";
}
.fa-play-circle:before {
  content: "\f144";
}
.fa-ticket:before {
  content: "\f145";
}
.fa-minus-square:before {
  content: "\f146";
}
.fa-minus-square-o:before {
  content: "\f147";
}
.fa-level-up:before {
  content: "\f148";
}
.fa-level-down:before {
  content: "\f149";
}
.fa-check-square:before {
  content: "\f14a";
}
.fa-pencil-square:before {
  content: "\f14b";
}
.fa-external-link-square:before {
  content: "\f14c";
}
.fa-share-square:before {
  content: "\f14d";
}
.fa-compass:before {
  content: "\f14e";
}
.fa-toggle-down:before,
.fa-caret-square-o-down:before {
  content: "\f150";
}
.fa-toggle-up:before,
.fa-caret-square-o-up:before {
  content: "\f151";
}
.fa-toggle-right:before,
.fa-caret-square-o-right:before {
  content: "\f152";
}
.fa-euro:before,
.fa-eur:before {
  content: "\f153";
}
.fa-gbp:before {
  content: "\f154";
}
.fa-dollar:before,
.fa-usd:before {
  content: "\f155";
}
.fa-rupee:before,
.fa-inr:before {
  content: "\f156";
}
.fa-cny:before,
.fa-rmb:before,
.fa-yen:before,
.fa-jpy:before {
  content: "\f157";
}
.fa-ruble:before,
.fa-rouble:before,
.fa-rub:before {
  content: "\f158";
}
.fa-won:before,
.fa-krw:before {
  content: "\f159";
}
.fa-bitcoin:before,
.fa-btc:before {
  content: "\f15a";
}
.fa-file:before {
  content: "\f15b";
}
.fa-file-text:before {
  content: "\f15c";
}
.fa-sort-alpha-asc:before {
  content: "\f15d";
}
.fa-sort-alpha-desc:before {
  content: "\f15e";
}
.fa-sort-amount-asc:before {
  content: "\f160";
}
.fa-sort-amount-desc:before {
  content: "\f161";
}
.fa-sort-numeric-asc:before {
  content: "\f162";
}
.fa-sort-numeric-desc:before {
  content: "\f163";
}
.fa-thumbs-up:before {
  content: "\f164";
}
.fa-thumbs-down:before {
  content: "\f165";
}
.fa-youtube-square:before {
  content: "\f166";
}
.fa-youtube:before {
  content: "\f167";
}
.fa-xing:before {
  content: "\f168";
}
.fa-xing-square:before {
  content: "\f169";
}
.fa-youtube-play:before {
  content: "\f16a";
}
.fa-dropbox:before {
  content: "\f16b";
}
.fa-stack-overflow:before {
  content: "\f16c";
}
.fa-instagram:before {
  content: "\f16d";
}
.fa-flickr:before {
  content: "\f16e";
}
.fa-adn:before {
  content: "\f170";
}
.fa-bitbucket:before {
  content: "\f171";
}
.fa-bitbucket-square:before {
  content: "\f172";
}
.fa-tumblr:before {
  content: "\f173";
}
.fa-tumblr-square:before {
  content: "\f174";
}
.fa-long-arrow-down:before {
  content: "\f175";
}
.fa-long-arrow-up:before {
  content: "\f176";
}
.fa-long-arrow-left:before {
  content: "\f177";
}
.fa-long-arrow-right:before {
  content: "\f178";
}
.fa-apple:before {
  content: "\f179";
}
.fa-windows:before {
  content: "\f17a";
}
.fa-android:before {
  content: "\f17b";
}
.fa-linux:before {
  content: "\f17c";
}
.fa-dribbble:before {
  content: "\f17d";
}
.fa-skype:before {
  content: "\f17e";
}
.fa-foursquare:before {
  content: "\f180";
}
.fa-trello:before {
  content: "\f181";
}
.fa-female:before {
  content: "\f182";
}
.fa-male:before {
  content: "\f183";
}
.fa-gittip:before {
  content: "\f184";
}
.fa-sun-o:before {
  content: "\f185";
}
.fa-moon-o:before {
  content: "\f186";
}
.fa-archive:before {
  content: "\f187";
}
.fa-bug:before {
  content: "\f188";
}
.fa-vk:before {
  content: "\f189";
}
.fa-weibo:before {
  content: "\f18a";
}
.fa-renren:before {
  content: "\f18b";
}
.fa-pagelines:before {
  content: "\f18c";
}
.fa-stack-exchange:before {
  content: "\f18d";
}
.fa-arrow-circle-o-right:before {
  content: "\f18e";
}
.fa-arrow-circle-o-left:before {
  content: "\f190";
}
.fa-toggle-left:before,
.fa-caret-square-o-left:before {
  content: "\f191";
}
.fa-dot-circle-o:before {
  content: "\f192";
}
.fa-wheelchair:before {
  content: "\f193";
}
.fa-vimeo-square:before {
  content: "\f194";
}
.fa-turkish-lira:before,
.fa-try:before {
  content: "\f195";
}
.fa-plus-square-o:before {
  content: "\f196";
}
.fa-space-shuttle:before {
  content: "\f197";
}
.fa-slack:before {
  content: "\f198";
}
.fa-envelope-square:before {
  content: "\f199";
}
.fa-wordpress:before {
  content: "\f19a";
}
.fa-openid:before {
  content: "\f19b";
}
.fa-institution:before,
.fa-bank:before,
.fa-university:before {
  content: "\f19c";
}
.fa-mortar-board:before,
.fa-graduation-cap:before {
  content: "\f19d";
}
.fa-yahoo:before {
  content: "\f19e";
}
.fa-google:before {
  content: "\f1a0";
}
.fa-reddit:before {
  content: "\f1a1";
}
.fa-reddit-square:before {
  content: "\f1a2";
}
.fa-stumbleupon-circle:before {
  content: "\f1a3";
}
.fa-stumbleupon:before {
  content: "\f1a4";
}
.fa-delicious:before {
  content: "\f1a5";
}
.fa-digg:before {
  content: "\f1a6";
}
.fa-pied-piper-square:before,
.fa-pied-piper:before {
  content: "\f1a7";
}
.fa-pied-piper-alt:before {
  content: "\f1a8";
}
.fa-drupal:before {
  content: "\f1a9";
}
.fa-joomla:before {
  content: "\f1aa";
}
.fa-language:before {
  content: "\f1ab";
}
.fa-fax:before {
  content: "\f1ac";
}
.fa-building:before {
  content: "\f1ad";
}
.fa-child:before {
  content: "\f1ae";
}
.fa-paw:before {
  content: "\f1b0";
}
.fa-spoon:before {
  content: "\f1b1";
}
.fa-cube:before {
  content: "\f1b2";
}
.fa-cubes:before {
  content: "\f1b3";
}
.fa-behance:before {
  content: "\f1b4";
}
.fa-behance-square:before {
  content: "\f1b5";
}
.fa-steam:before {
  content: "\f1b6";
}
.fa-steam-square:before {
  content: "\f1b7";
}
.fa-recycle:before {
  content: "\f1b8";
}
.fa-automobile:before,
.fa-car:before {
  content: "\f1b9";
}
.fa-cab:before,
.fa-taxi:before {
  content: "\f1ba";
}
.fa-tree:before {
  content: "\f1bb";
}
.fa-spotify:before {
  content: "\f1bc";
}
.fa-deviantart:before {
  content: "\f1bd";
}
.fa-soundcloud:before {
  content: "\f1be";
}
.fa-database:before {
  content: "\f1c0";
}
.fa-file-pdf-o:before {
  content: "\f1c1";
}
.fa-file-word-o:before {
  content: "\f1c2";
}
.fa-file-excel-o:before {
  content: "\f1c3";
}
.fa-file-powerpoint-o:before {
  content: "\f1c4";
}
.fa-file-photo-o:before,
.fa-file-picture-o:before,
.fa-file-image-o:before {
  content: "\f1c5";
}
.fa-file-zip-o:before,
.fa-file-archive-o:before {
  content: "\f1c6";
}
.fa-file-sound-o:before,
.fa-file-audio-o:before {
  content: "\f1c7";
}
.fa-file-movie-o:before,
.fa-file-video-o:before {
  content: "\f1c8";
}
.fa-file-code-o:before {
  content: "\f1c9";
}
.fa-vine:before {
  content: "\f1ca";
}
.fa-codepen:before {
  content: "\f1cb";
}
.fa-jsfiddle:before {
  content: "\f1cc";
}
.fa-life-bouy:before,
.fa-life-saver:before,
.fa-support:before,
.fa-life-ring:before {
  content: "\f1cd";
}
.fa-circle-o-notch:before {
  content: "\f1ce";
}
.fa-ra:before,
.fa-rebel:before {
  content: "\f1d0";
}
.fa-ge:before,
.fa-empire:before {
  content: "\f1d1";
}
.fa-git-square:before {
  content: "\f1d2";
}
.fa-git:before {
  content: "\f1d3";
}
.fa-hacker-news:before {
  content: "\f1d4";
}
.fa-tencent-weibo:before {
  content: "\f1d5";
}
.fa-qq:before {
  content: "\f1d6";
}
.fa-wechat:before,
.fa-weixin:before {
  content: "\f1d7";
}
.fa-send:before,
.fa-paper-plane:before {
  content: "\f1d8";
}
.fa-send-o:before,
.fa-paper-plane-o:before {
  content: "\f1d9";
}
.fa-history:before {
  content: "\f1da";
}
.fa-circle-thin:before {
  content: "\f1db";
}
.fa-header:before {
  content: "\f1dc";
}
.fa-paragraph:before {
  content: "\f1dd";
}
.fa-sliders:before {
  content: "\f1de";
}
.fa-share-alt:before {
  content: "\f1e0";
}
.fa-share-alt-square:before {
  content: "\f1e1";
}
.fa-bomb:before {
  content: "\f1e2";
}
html,
body,
div,
span,
embed,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
output,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
form,
fieldset,
legend,
label,
main,
section,
article,
aside,
canvas,
details,
summary,
figure,
figcaption,
header,
footer,
hgroup,
menu,
nav,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  background: transparent;
  font-size: 100%;
  vertical-align: baseline;
}
html {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}
body {
  background: #f7f7f7;
  color: #555555;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1;
}
main,
section,
article,
aside,
details,
summary,
figure,
figcaption,
header,
footer,
hgroup,
menu,
nav {
  display: block;
}
audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table,
caption,
tbody,
thead,
tfoot,
tr,
th,
td {
  margin: 0;
  padding: 0;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
fieldset {
  margin: 0;
  padding: 0;
  border: 1px solid #c0c0c0;
}
textarea {
  font-family: inherit;
  overflow: auto;
  vertical-align: top;
  resize: none;
}
input,
select {
  vertical-align: middle;
}
select,
button {
  text-transform: none;
}
label,
select,
button,
input[type="button"],
input[type="reset"],
input[type="submit"],
input[type="radio"],
input[type="checkbox"] {
  cursor: pointer;
}
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
}
input[type="search"] {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  -webkit-appearance: textfield;
}
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
  padding: 0;
  border: 0;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
sub,
sup {
  position: relative;
  line-height: 0;
  font-size: 75%;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
h1 {
  font-size: 20px;
}
h2 {
  font-size: 18px;
}
h3 {
  font-size: 16px;
}
h4 {
  font-size: 14px;
}
h5 {
  font-size: 12px;
}
h6 {
  font-size: 10px;
}
b,
strong,
optgroup {
  font-weight: bold;
}
dfn {
  font-style: italic;
}
small {
  font-size: 80%;
}
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}
mark {
  background-color: #ff0;
  color: #000;
  font-style: italic;
}
del {
  text-decoration: line-through;
}
abbr[title],
dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}
code,
kbd,
pre,
samp {
  font-family: Monaco, Menlo, Consolas, "Courier New", monospace;
  font-size: 1em;
}
hr {
  display: block;
  margin: 1em 0;
  padding: 0;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
}
a {
  color: #555555;
  text-decoration: none;
}
a:visited {
  color: #494949;
}
a:hover {
  color: #2f2f2f;
}
a:active {
  color: #3c3c3c;
}
a:focus {
  outline: 0;
}
.form .form-group,
.form .checkbox,
.form .textarea {
  display: block;
  clear: both;
  position: relative;
  margin-bottom: 15px;
  overflow: hidden;
}
.form .form-group input {
  width: 100%;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  border: 1px solid #ccc;
  box-shadow: 0 0 0 0;
  background-color: #f9f9f9;
}
.form .form-group label {
  float: left;
  margin-top: 10px;
  font-weight: normal;
}
.form .form-group .ico {
  position: absolute;
  right: 15px;
  top: 5px;
  border-left: 1px solid #ccc;
  padding-left: 12px;
  height: 26px;
  line-height: 26px;
}
.form .form-group .ico.fa {
  font-size: 23px;
}
.form .form-group .col-md-5 {
  padding-right: 0;
}
.form .form-group .col-md-6 .ico {
  right: 45px;
}
.form .custom-select {
  position: relative;
}
.form .custom-select select.visiblie {
  position: absolute;
  opacity: 0;
  width: 68%;
  right: 0;
  display: block;
  padding: 6px 4px;
  border: none;
  height: 34px;
  z-index: 10;
}
.form .custom-checkbox {
  width: 68%;
  margin-left: 105px;
}
.form .custom-checkbox span {
  width: 37px;
  height: 35px;
  position: relative;
  border: 1px solid #00a651;
  display: block;
  float: left;
  cursor: pointer;
}
.form .custom-checkbox span.check {
  background: url(../images/icon-check-1.png) center center no-repeat;
}
.form .custom-checkbox span input {
  opacity: 0;
  position: absolute;
  border: none;
  left: 0;
  top: 0;
  margin: 0;
}
.form .custom-checkbox a {
  background: #00a651;
  color: #fff;
  text-align: center;
  padding: 19px 15px;
  line-height: 35px;
  margin-left: 10px;
  opacity: 1;
  -webkit-transition: opacity 0.4s ease 0s;
  -moz-transition: opacity 0.4s ease 0s;
  -o-transition: opacity 0.4s ease 0s;
  transition: opacity 0.4s ease 0s;
}
.form .custom-checkbox a:hover {
  text-decoration: none;
  opacity: 0.8;
}
.form .textarea label {
  float: left;
  font-weight: normal;
  margin-top: 10px;
}
.form .textarea textarea {
  width: 100%;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  border: 1px solid #ccc;
  box-shadow: 0 0 0 0;
  background-color: #f9f9f9;
}
.float-l {
  float: left;
}
.float-r {
  float: right;
}
.hidden {
  display: none;
}
.invisible {
  visibility: hidden;
}
noscript {
  position: fixed;
  top: 0;
  width: 100%;
  padding: 10px;
  background: #eeeeee;
  color: #555555;
  text-align: center;
  opacity: 0.75;
}
.browsehappy {
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 10px;
  background: #eeeeee;
  color: #555555;
  text-align: center;
  opacity: 0.75;
}
.title {
  font-size: 22px;
  color: #c88e2e;
  text-transform: uppercase;
  position: relative;
  margin: 15px 0;
}
.title span {
  background-color: #fff;
  padding-right: 20px;
  position: relative;
  z-index: 2;
}
.title.style-1 {
  margin-bottom: 20px;
}
.title.style-1 span {
  background-color: #f2f2f2;
}
.title span.border {
  background: url(../images/border-repeat-x.png) left top;
  width: 100%;
  display: inline-block;
  height: 10px;
  position: absolute;
  left: 0;
  top: 10px;
  z-index: 1;
}
.block {
  overflow: hidden;
}
.block .thumbnail {
  background: url(../images/border-bottom-thumb.png) center bottom no-repeat;
  border: none;
  padding-bottom: 16px;
  position: relative;
}
.block .thumbnail .price {
  font-family: "i-regular-l";
  color: #663300;
  font-size: 1.2em;
  font-weight: bold;
}
.block .thumbnail h3 {
  font-size: 1.25em;
  color: #333333;
  margin: 5px 0;
}
.block .thumbnail > a {
  opacity: 1;
  -webkit-transition: all 0.4s ease 0s;
  -moz-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
  border: 1px solid #dddddd;
  border-bottom: 2px solid #c88e2e;
  display: block;
  padding: 10px;
  overflow: hidden;
}
.block .thumbnail > a:hover {
  text-decoration: none;
  opacity: 0.8;
}
.block .thumbnail > a img {
  width: 100%;
  max-height: 200px;
}
.block .thumbnail .caption {
  padding-left: 0;
  padding-right: 0;
}
.block-1 h3 {
  font-size: 1.05em;
  color: #111111;
  font-weight: bold;
  margin-bottom: 5px;
}
.block-1 > .inner {
  margin-top: 10px;
}
.block-1 > .inner p {
  color: #666;
}
.block-1 > .inner h3 {
  font-size: 1.2em;
}
.block-1 > .inner h3 a {
  color: #a87b31;
  -webkit-transition: all 0.4s ease 0s;
  -moz-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
}
.block-1 > .inner h3 a:hover {
  text-decoration: none;
  color: black;
}
.block-1 .media {
  border-top: 1px dotted #ddd;
  padding-top: 10px;
  padding-bottom: 10px;
}
.block-1 .media:first-child {
  border-top: none;
  padding-top: 0;
}
.block-1 .media > a {
  opacity: 1;
  -webkit-transition: all 0.4s ease 0s;
  -moz-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
}
.block-1 .media > a:hover,
.block-1 .media > a:focus {
  text-decoration: none;
  opacity: 0.8;
}
.block-1 .media > a img {
  margin-right: 12px;
}
.block-1 p {
  line-height: 1.4em;
  margin-bottom: 10px;
}
.title-1 {
  background: url(../images/bgd-border-1.png) left center no-repeat;
  padding: 10px 0 10px 20px;
  display: block;
  clear: both;
  color: #c88e2e;
  font-size: 1.2em;
  text-transform: uppercase;
  border-top: 1px solid #e6e6e6;
  border-bottom: 1px solid #e6e6e6;
  margin-bottom: 15px;
}
.block-infor h3 {
  font-size: 1.4em;
  color: #8a4500;
  margin-bottom: 8px;
}
.block-infor .desc p {
  padding-bottom: 10px;
  line-height: 24px;
}
.block-infor .desc > .list-unstyled h4 {
  font-size: 1.28em;
  display: inline-block;
  width: 30%;
}
.block-infor .desc > .list-unstyled .info {
  display: inline-block;
  font-size: 1.28em;
  color: #663300;
}
.block-infor .desc > .list-unstyled li {
  display: block;
  clear: both;
}
.tab-block {
  margin-top: 20px;
}
.tab-block .nav-tabs {
  border-bottom: 1px solid #000;
  margin-bottom: 15px;
}
.tab-block li {
  background: url(../images/border-1.jpg) left center no-repeat;
}
.tab-block li:first-child {
  background: none;
}
.tab-block li a {
  color: #666;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: normal;
  margin: 0;
  border: none;
}
.tab-block .nav-tabs > li.active > a,
.tab-block .nav-tabs > li.active > a:hover,
.tab-block .nav-tabs > li.active > a:focus {
  border: none;
  border-color: transparent;
  background-color: transparent;
}
.tab-block .nav-tabs > li.active > a,
.tab-block .nav-tabs > li > a:hover,
.tab-block .nav-tabs > li > a:focus {
  border: none;
  border-color: transparent;
  background-color: transparent;
  background: none;
  color: #bc8120;
  text-decoration: none;
  margin: 0;
}
.tab-content .desc p {
  padding-bottom: 10px;
  color: #333333;
  line-height: 1.4em;
}
.comment-block {
  display: block;
  clear: both;
  border-top: 2px solid #bc8120;
  padding-top: 15px;
  margin-top: 15px;
  margin-bottom: 15px;
}
.news-block h3 {
  color: #663300;
  font-size: 1.2em;
  margin-bottom: 10px;
}
.news-block .media .thumb {
  width: 360px;
  border: 1px solid #ccc;
  display: block;
  margin-right: 20px;
}
.news-block .media .thumb img {
  width: 100%;
  display: block;
}
.news-block .media a {
  opacity: 1;
  -webkit-transition: all 0.4s ease 0s;
  -moz-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
}
.news-block .media a:hover {
  opacity: 0.8;
  text-decoration: none;
}
.booking-1 input {
  border: none;
  background: #c88e2e;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  padding: 10px 20px;
  color: #fff;
  font-size: 1.2em;
  float: right;
}
body {
  font-size: 15px;
}
header #nav-mid {
  min-height: 97px;
  margin-bottom: 0;
  border: none;
  background: url(../images/bgd-repeart-header.jpg) left top no-repeat #000000;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}
header #nav-mid .navbar-brand {
  padding: 0;
  margin-right: 20px;
  margin-top: 10px;
}
header #nav-mid #nav-main {
  min-height: 97px;
  float: right;
}
header #nav-mid #nav-main .navbar-nav {
  min-height: 97px;
}
header #nav-mid #nav-main .navbar-nav > li {
  background: url(../images/border-nav-1.png) left 14px no-repeat;
  height: 97px;
  padding-left: 10px;
  padding-right: 10px;
  position: relative;
}
header #nav-mid #nav-main .navbar-nav > li ul.sub-menu {
  display: none;
  position: absolute;
  left: 20px;
  top: 96px;
  z-index: 100;
  background: #f7f7f7;
  border-top: 5px solid #c88e2e;
  width: 200px;
}
header #nav-mid #nav-main .navbar-nav > li ul.sub-menu:before {
  background: url(../images/arrow-top.png) left top no-repeat;
  content: "";
  position: absolute;
  left: 10px;
  top: -18px;
  z-index: 101;
  width: 25px;
  height: 14px;
}
header #nav-mid #nav-main .navbar-nav > li ul.sub-menu li {
  padding: 10px 15px;
  border-top: 1px dotted #cccccc;
}
header #nav-mid #nav-main .navbar-nav > li ul.sub-menu li:first-child {
  border-top: none;
}
header #nav-mid #nav-main .navbar-nav > li ul.sub-menu li a {
  background: url(../images/arrow-left-1.png) left 4px no-repeat;
  padding-left: 10px;
  color: #333333;
  font-size: 1.1em;
  -webkit-transition: all 0.4s ease 0s;
  -moz-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
}
header #nav-mid #nav-main .navbar-nav > li ul.sub-menu li a:hover {
  background: url(../images/arrow-left-1-active.png) left 4px no-repeat;
  color: #c88e2e;
  text-decoration: none;
}
header #nav-mid #nav-main .navbar-nav > li ul.sub-menu li .title {
  color: #c88e2e;
  font-size: 1.1em;
  background: none;
  padding-left: 0;
  text-transform: none;
}
header #nav-mid #nav-main .navbar-nav > li ul.sub-menu li .title:hover {
  background: none;
}
header #nav-mid #nav-main .navbar-nav > li.active,
header #nav-mid #nav-main .navbar-nav > li.current-menu-item,
header #nav-mid #nav-main .navbar-nav > li:hover {
  background-color: transparent;
}
header #nav-mid #nav-main .navbar-nav > li.active a,
header #nav-mid #nav-main .navbar-nav > li.current-menu-item a,
header #nav-mid #nav-main .navbar-nav > li:hover a {
  color: #c88e2e;
  background-color: transparent;
}
/*header #nav-mid #nav-main .navbar-nav > li.active ul.sub-menu,
header #nav-mid #nav-main .navbar-nav > li.current-menu-item ul.sub-menu,*/
header #nav-mid #nav-main .navbar-nav > li:hover ul.sub-menu {
  display: block;
}
header #nav-mid #nav-main .navbar-nav > li:first-child {
  padding-left: 0;
  background-image: none;
}
header #nav-mid #nav-main .navbar-nav > li > a {
  -webkit-transition: all 0.4s ease 0s;
  -moz-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
  color: #fff;
  font-size: 1.3em;
  padding: 50px 20px 22px 20px;
  line-height: 1.3em;
}
.fb_iframe_widget{
    background-color: #fff;
    height: 283px;
}
.fb_iframe_widget iframe{
    height: 284px!important;
}
.fb_iframe_widget iframe #facebook ._4s7c{
    height: 281px!important;
}
#banner {
  position: relative;
  left: 0;
  top: 0;
  margin: 0 auto;
  max-width: 1260px;
  margin-bottom: 50px;
}
#banner img {
  max-width: 100%;
  min-height: 210px;
}
#banner .caption {
  position: absolute;
  left: 50px;
  top: 58px;
}
#banner .caption h2 {
  color: #fff;
  font-size: 2.6em;
  font-weight: normal;
}
#banner .caption p {
  color: #fff;
  font-size: 1.8em;
  font-style: italic;
}
#footer {
  margin-top: 50px;
  overflow: hidden;
  display: block;
}
#footer .inner {
  background: #313131;
  margin-top: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
}
#footer .inner .col-md-4 {
  color: #fff;
}
#footer .inner .col-md-4 h2 {
  margin-bottom: 15px;
  display: block;
}
#footer .inner .col-md-4 .list-unstyled {
  margin-bottom: 20px;
}
#footer .inner .col-md-4 .list-unstyled li {
  display: block;
  clear: both;
  overflow: hidden;
  margin-bottom: 5px;
}
#footer .inner .col-md-4 .list-unstyled li i {
  float: left;
  background-color: #c88e2e;
  padding: 5px 8px;
  margin-right: 10px;
}
#footer .inner .col-md-4 .list-unstyled li p {
  color: #ccc;
  margin-top: 7px;
  line-height: 1.3em;
}
#footer .inner .col-md-4 .list-unstyled li p a {
  color: #fff;
  font-size: 1.1em;
}
#footer .inner .col-md-4 .list-unstyled li > a {
  margin-bottom: 15px;
  color: #ccc;
  display: inline-block;
}
#footer .inner-1 {
  background: #292929;
  padding: 15px 0;
}
#footer .inner-1 .container {
  padding: 0 40px;
}
#footer .inner-1 .list-inline li {
  margin-left: 10px;
}
#footer .inner-1 .list-inline li a {
  color: #fff;
}
#footer .inner-1 .list-inline li a i {
  float: left;
  margin-right: 7px;
}
.iframe-lightbox {
  display: block;
  margin-bottom: 20px;
}
.addthis_toolbox_custom a {
  width: 41px;
  height: 40px;
  display: block;
}
.addthis_toolbox_custom a span {
  display: none;
}
.addthis_toolbox_custom a.addthis_button_facebook {
  background: url(../images/icon-fb.png) left top no-repeat;
}
.addthis_toolbox_custom a.addthis_button_twitter {
  background: url(../images/icon-tw.png) left top no-repeat;
}
.addthis_toolbox_custom a.addthis_button_google_plusone_share {
  background: url(../images/icon-google.png) left top no-repeat;
}
.addthis_toolbox_custom a.addthis_button_pinterest_share {
  background: url(../images/icon-p.png) left top no-repeat;
}
.addthis_toolbox_custom a.addthis_button_linkedin {
  background: url(../images/icon-in.png) left top no-repeat;
}
.siderbar .thumbnail {
  margin-bottom: 40px;
}
#main {
  position: relative;
  margin-top: -77px;
}
#main .highlight {
  background: white;
  -webkit-border-radius: 15px 15px 0 0;
  -moz-border-radius: 15px 15px 0 0;
  border-radius: 15px 15px 0 0;
  display: block;
  clear: both;
  float: left;
  width: 100%;
  padding: 15px;
  -webkit-box-shadow: 0 0 7px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0 0 7px rgba(0, 0, 0, 0.15);
  box-shadow: 0 0 7px rgba(0, 0, 0, 0.15);
  border-top: 2px solid #c88e2e;
}
#accordion .panel-default {
  border: none;
}
#accordion .panel-group .panel,
#accordion .panel {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  box-shadow: none;
}
#accordion .panel-heading {
  -webkit-border-radius: 0 0 0 0;
  -moz-border-radius: 0 0 0 0;
  border-radius: 0 0 0 0;
  padding: 0;
  background-color: transparent;
}
#accordion .panel-heading .panel-title a {
  background: url(../images/icon-top.jpg) right center #c88e2e no-repeat;
  width: 100%;
  display: block;
  overflow: hidden;
  padding: 0 15px;
}
#accordion .panel-heading .panel-title a span {
  padding: 10px 0;
  float: left;
  overflow: hidden;
}
#accordion .panel-heading .panel-title a.collapsed {
  background: url(../images/icon-top-unactive.jpg) right center #c88e2e no-repeat;
}
#accordion .icon-local {
  background: url(../images/icon-dealer.png) left center no-repeat;
  float: left;
  width: 20px;
  height: 27px;
  margin: 7px 10px 7px 0;
}
#accordion .text {
  font-size: 1.2em;
  color: #fff;
  width: 40%;
  background: url(../images/border-3.jpg) right top repeat-y;
}
#accordion .info {
  font-size: 1.2em;
  color: #fff;
  width: 40%;
  margin-left: 10px;
}
#accordion .panel-body {
  padding-left: 0;
  padding-right: 0;
  border: none;
}
#accordion .panel-body .thumbnail {
  border: none;
  overflow: hidden;
  clear: both;
  padding: 0;
}
#accordion .panel-body .thumbnail > img {
  float: left;
  padding-right: 15px;
  background-color: #fff;
}
#accordion .panel-body .thumbnail .caption {
  padding: 0;
}
#accordion .panel-body .thumbnail .list-unstyled {
  overflow: hidden;
}
#accordion .panel-body .thumbnail .list-unstyled li {
  padding: 12px 0;
}
#accordion .panel-body .thumbnail .list-unstyled li.even {
  background-color: #f2f2f2;
}
#accordion .panel-body .thumbnail .list-unstyled li p {
  padding-left: 20px;
  color: #666;
}
#accordion .panel-body .thumbnail .list-unstyled li a,
#accordion .panel-body .thumbnail .list-unstyled li strong {
  font-weight: bold;
  color: #666;
}
.page-1 .desc h3 {
  color: #8a4500;
  font-size: 1.46em;
  font-weight: bold;
  margin-bottom: 8px;
}
.page-1 .desc p {
  color: #333;
  line-height: 1.4em;
  margin-bottom: 15px;
}
.contact .col-md-5 h2 {
  color: #663300;
  font-weight: bold;
  margin-bottom: 10px;
}
.contact .col-md-5 li p {
  font-weight: bold;
  color: #333333;
}
.contact .col-md-5 li p span,
.contact .col-md-5 li p a {
  font-weight: normal;
  display: block;
  text-decoration: none;
  color: #777;
}
#slideshow {
  background: url(../images/bgd-opacity-2.png) left bottom no-repeat;
  max-width: 1260px;
  position: relative;
  margin: 0 auto;
  padding-bottom: 24px;
}
#slideshow .carousel-inner {
  position: relative;
}
#slideshow .carousel-inner:before {
  background: url(../images/bgd-opacity-3.png) left top no-repeat;
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  height: 24px;
  z-index: 99;
}
#slideshow .item img {
  margin: 0 auto;
  max-width: 100%;
}
#slideshow .carousel-control {
  background: none transparent;
  top: 50%;
  margin-top: -32px;
  width: 64px;
  height: 64px;
  opacity: 1;
  -webkit-transition: opacity 0.4s ease 0s;
  -moz-transition: opacity 0.4s ease 0s;
  -o-transition: opacity 0.4s ease 0s;
  transition: opacity 0.4s ease 0s;
  z-index: 100;
  left: 5%;
}
#slideshow .carousel-control span {
  background: url(../images/icon-arrow-1.png) left top no-repeat transparent;
  width: 64px;
  height: 64px;
  display: block;
}
#slideshow .carousel-control.right {
  right: 5%;
  left: auto;
}
#slideshow .carousel-control.right span {
  background: url(../images/icon-arrow-2.png) left top no-repeat transparent;
}
#slideshow .carousel-control:hover {
  opacity: 0.8;
}
#slideshow .carousel-caption {
  left: 13%;
  right: 53%;
  text-align: left;
  bottom: 85px;
}
#slideshow .carousel-caption h2 {
  font-size: 1.5em;
  color: white;
  background: url(../images/bgd-opacity.png) left top;
  border-left: 7px solid #ec008c;
  padding: 10px;
  margin-bottom: 3px;
  font-weight: normal;
}
#slideshow .carousel-caption p {
  font-size: 1.1em;
  line-height: 1.3em;
  color: white;
  background: url(../images/bgd-opacity.png) left top;
  padding: 10px;
  font-weight: normal;
}
#slideshow .carousel-indicators {
  bottom: 30px;
}
#slideshow .carousel-indicators li {
  background: url(../images/control.png) left center no-repeat;
  border-radius: 0;
  border: none;
  margin: 0;
  width: 16px;
  height: 15px;
}
#slideshow .carousel-indicators li.active {
  background: url(../images/control-active.png) left center no-repeat;
  margin: 0;
}
#slideshow-1 {
  position: relative;
}
#slideshow-1 .carousel-inner {
  padding-left: 9px;
  margin-left: -9px;
  padding-right: 9px;
  width: 101.5%;
}
#slideshow-1 .carousel-inner .item {
  padding-top: 20px;
}
#slideshow-1 .carousel-control {
  background: #cc0000;
  left: auto;
  right: 0;
  bottom: auto;
  top: -42px;
  width: 50px;
  height: 40px;
  opacity: 1;
  -webkit-transition: opacity 0.4s ease 0s;
  -moz-transition: opacity 0.4s ease 0s;
  -o-transition: opacity 0.4s ease 0s;
  transition: opacity 0.4s ease 0s;
}
#slideshow-1 .carousel-control.left {
  right: 53px;
}
#slideshow-1 .carousel-control span {
  font-size: 2.1em;
  line-height: .9em;
}
#slideshow-1 .carousel-control:hover {
  opacity: 0.8;
}
#slide {
  border: 1px solid #eaeaea;
  border-bottom: 3px solid #c88e2e;
  position: relative;
  padding: 8px 8px 15px 8px;
}
#slide .carousel-inner {
  margin-bottom: 8px;
}
#slide .carousel-inner img {
  width: 100%;
}
#slide .carousel-control {
  background: no-repeat;
  top: auto;
  bottom: 40px;
  width: 16px;
  left: 10px;
  z-index: 40;
}
#slide .carousel-control span {
  background: url(../images/icon-arrow-detail-1.png) left top no-repeat;
  display: block;
  width: 16px;
  height: 36px;
}
#slide .carousel-control.right {
  left: auto;
  right: 10px;
}
#slide .carousel-control.right span {
  background: url(../images/icon-arrow-detail-2.png) left top no-repeat;
}
#slide .carousel-indicators {
  position: relative;
  width: 100%;
  margin-left: 0;
  left: 0;
  bottom: auto;
}
#slide .carousel-indicators li {
  border: none;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  width: 120px;
  height: 80px;
  border: 3px solid transparent;
  overflow: hidden;
}
#slide .carousel-indicators li.active {
  margin: 0;
  border: 3px solid #c88e2e;
}
#slide .carousel-indicators li img {
  display: block;
  width: 100%;
}
@media only screen and (max-width: 1200px) {
  body {
    font-size: 12px;
  }
  #header #nav-top .navbar-nav > li.find-nav li {
    padding-left: 8px;
    padding-right: 6px;
  }
  #header #nav-top .navbar-nav > li ul {
    padding-left: 5px;
    padding-right: 5px;
  }
  #header .navbar-nav > li.language li {
    padding-left: 6px;
    padding-right: 6px;
  }
  #header #nav-mid #nav-main .navbar-nav a {
    font-size: 1.2em;
    line-height: 60px;
  }
  #header #nav-mid .navbar-brand img {
    width: 80%;
  }
}
@media only screen and (max-width: 1024px) {
  .block-detail {
    float: none;
  }
  .form .form-group input {
    margin-left: 85px;
  }
}
@media screen and (max-width: 980px) {
  .navbar-header {
    float: none;
  }
  .navbar-toggle {
    display: block;
  }
  .navbar-collapse.collapse {
    display: none!important;
  }
  .navbar-collapse.collapse.in {
    display: block!important;
  }
  .navbar-nav {
    float: none!important;
    margin: 7.5px -15px;
  }
  .navbar-nav > li {
    float: none;
  }
  .navbar-nav > li > a {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .navbar-default .navbar-collapse,
  .navbar-default .navbar-form {
    border: none;
  }
  header #nav-mid #nav-main .navbar-nav li {
    background: none;
    text-align: center;
    border-top: 1px solid #ccc;
  }
  header #nav-mid #nav-main .navbar-nav li:first-child {
    border-top: none;
  }
  header #nav-top .navbar-nav > li {
    background: none;
    text-align: center;
    border-top: 1px dotted #ccc;
  }
  .media,
  .media-body {
    width: 100%;
  }
  .block .inner .media a > img {
    display: block;
    margin: 0 auto;
    float: none!important;
    clear: both;
  }
  .block .inner .media {
    min-height: 235px;
  }
  .form .form-group .col-md-5 {
    padding-right: 15px;
  }
  .form .form-group .col-md-6 {
    margin-top: 15px;
  }
  .form .form-group input,
  .form .custom-select select.visiblie {
    width: 83%;
  }
  .form .form-group input {
    margin-left: 105px;
  }
  .form .form-group .ico {
    right: 45px;
  }
  .form .form-group .ico.fa {
    right: 28px;
  }
  header #nav-mid #nav-main {
    float: none;
  }
  header #nav-mid #nav-main .navbar-nav > li {
    height: auto;
  }
  #header #nav-mid #nav-main .navbar-nav > li > a {
    font-size: 1.2em;
    line-height: 15px;
    padding: 28px;
  }
  header #nav-mid #nav-main .navbar-nav > li ul.sub-menu {
    display: block;
    width: 100%;
    left: 0;
    position: relative;
    top: 0;
    color: #fff;
  }
  header #nav-mid #nav-main .navbar-nav > li ul.sub-menu:before {
    left: 48%;
  }
}
@media only screen and (max-width: 768px) {
  .siderbar {
    margin-top: 20px;
  }
}
@media only screen and (max-width: 640px) {
  #slideshow {
    height: 200px;
  }
  #slideshow .item img {
    height: 200px;
  }
  #slideshow .carousel-control span {
    -webkit-transform: scale(0.5);
    -moz-transform: scale(0.5);
    -ms-transform: scale(0.5);
    -o-transform: scale(0.5);
    transform: scale(0.5);
  }
  #accordion .text {
    background: none;
    width: auto;
  }
  #accordion .info {
    display: none;
  }
  #accordion .caption {
    clear: both;
  }
  .block .thumbnail > a img {
    max-height: none;
  }
}
@media only screen and (max-width: 568px) {
  .form .form-group input,
  .form .custom-select select.visiblie {
    width: 65%;
  }
}
@media print {
  body {
    margin: 0;
    background: transparent;
    color: #000;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 14px;
    box-shadow: none;
    text-shadow: none;
  }
  img,
  fieldset {
    border: 0;
  }
  h1 {
    font-size: 1.8em;
  }
  h2 {
    font-size: 1.6em;
  }
  h3 {
    font-size: 1.4em;
  }
  h4 {
    font-size: 1.2em;
  }
  h5 {
    font-size: 1.0em;
  }
  h6 {
    font-size: 0.9em;
  }
  ol,
  ul {
    list-style-type: none;
  }
  ol li,
  ul li {
    list-style-type: disc;
  }
  dt {
    font-weight: bold;
  }
  a,
  a:visited {
    color: #000;
    text-decoration: underline;
  }
  a[href]:after {
    content: " (" attr(href) ")";
  }
  abbr[title]:after {
    content: " (" attr(title) ")";
  }
  input,
  select,
  textarea {
    border: 1px solid #000;
  }
  input {
    padding: 1px 0;
  }
  select {
    margin: 0;
    padding: 0;
    background: #fff;
    line-height: normal;
  }
  img {
    max-width: 100%;
  }
  pre,
  blockquote {
    border: 1px solid #000;
    page-break-inside: avoid;
  }
  div {
    text-align: left;
  }
  caption {
    display: none;
  }
  table {
    border-top: 1px solid #000;
    border-left: 1px solid #000;
    border-collapse: separate;
    border-spacing: 0;
  }
  table th,
  table td {
    padding: 5px;
    border-right: 1px solid #000;
    border-bottom: 1px solid #000;
    text-align: left;
  }
  tr,
  img {
    page-break-inside: avoid;
  }
}
